/* =======================================
        Slider
        ====================================*/

.home {
    position: relative;
    top: -200%;
    width: 100%;
    max-width: 100%;
    z-index: -1;
    transition: opacity 1s ease-in-out;
}

.slick-dots {
    text-align: center;
}

.slick-dots li {
    display: inline-block;
    padding: 1px;
    background-color: #ccc;
    margin: 20px 5px;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.slick-dots button {
    display: none;
}

.slick-dots li.slick-active {
    background: red;
}

.slick-slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0% 0%;
    border-radius: 1vmax;
    box-shadow: #fff 0px 5px 15px;
}

.slick-slide {
    padding: 40px 0px;
    position: relative;
    height: auto !important;
    opacity: 0.5;
    transition: all 600ms ease-in-out;
}

.slick-current {
    opacity: 1;
    transform: scale(1.2);
    z-index: 99;
}

.slick-current img {
    box-shadow: none;
    object-fit: cover;
    border: white solid 0.5px;
}

.slick-slide .xyz {
    opacity: 0;
}

.slick-current .xyz {
    opacity: 1;
}

.card {
    background-color: transparent;
}

.image-container {
    position: relative;
}

.background-image,
.overlay-image {
    width: 14vmax;
    height: 20vmax;
    object-fit: cover;
}

.overlay-image {
    position: absolute;
    top: 0;
    left: 35%;
    z-index: 1;
    border-radius: 3%;
}

.overlay-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: transparent;
    color: #303030;
    position: absolute;
    top: 0;
    left: -25%;
}

.overlay-content h1 {
    display: flex;
    font-size: 24vmax;
    font-family: fantasy;
    font-weight: bolder;
}