<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="..\..\..\public\bootstrapLib\bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="icon" href="../../../public/img/page_logo/download-removebg-preview.png">
    <link rel="stylesheet" href="../../css/actor.css">
    <title>Netfnix</title>
</head>

<body>
    <div class="container-fluid" style="background-color: black;">
        <section id="movie__overview" class="row position:relative">

            <!-- Background Image -->

            <section class="p-0 top-0 start-0 bottom-1 end-0">
                <div class="background">
                    <img src="../../../public/img/Actor/14CHARLIE-HUNNAM1-superJumbo-v2.jpg" style="object-fit: cover; opacity: 0.8;" class="full-screen-element col-12">
                    </img>
                </div>
            </section>

            <!-- Content -->
            <section class="position-absolute start-0 end-0 fullscreen-height px-0 col-12" style="background: linear-gradient(to top, rgb(0, 0, 0), rgba(0, 0, 0, 0.444));">

                <!-- Information -->

                <div class="position-relative top-50 start-50 translate-middle col-12">
                    <div class="row mt-lg-5">
                        <div class="col-12 d-block">
                            <img class="col-4 d-block my-2 mx-auto" src="../../../public/img/Actor/92893960_10159265884387439_7111891102537351168_n.jpg" style="border-radius: 50%; overflow: hidden; height: 8vmax; width: 8vmax;" alt="">
                            <p class="text-center text-light fw-bold mb-1" style="font-size: 2vmax;">Charlie Hunnam</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 d-flex justify-content-center">
                            <div class="col-1 text-center">
                                <span class="text-light p-2" style="font-size: 1vmax;"> <p class="text-center text-light fw-bold m-1" style="font-size: 1.5vmax;">30</p>Actor</span>
                            </div>
                            <div class="col-1 text-center">
                                <span class="text-light p-2" style="font-size: 1vmax;"><p  class="text-center text-light fw-bold m-1" style="font-size: 1.5vmax;">2</p>Producer</span>
                            </div>
                            <div class="col-1 text-center">
                                <span class="text-light p-2" style="font-size: 1vmax;"><p  class="text-center text-light fw-bold m-1" style="font-size: 1.5vmax;">12</p>Director</span>
                            </div>
                        </div>
                    </div>


                    <!-- Movie -->

                    <section class="movie_selection row p-5">

                        <div class="row ">
                            <div class=" col-12 ">
                                <h1 class="text-light" style="font-size: 1.8vmax;">Movies</h1>
                            </div>
                        </div>

                        <!-- Movie carousel -->

                        <section class="p-0 ">
                            <div class="slider_actor col-12 ">
                                <div class="mx-3 ">
                                    <div class="card border-0 rounded-0 ">
                                        <div class="d-flex bg-opacity-25 justify-content-center align-items-end ">
                                            <a href="movieDetailed.html ">
                                                <img src="..\..\..\public/img/Actor/King-arthur-featured-img.jpg" alt=" ">
                                            </a>
                                        </div>
                                        <div class="card-body ">
                                            <span class="card-text text-light " style="font-size: 1.3vmax; ">The Lost City Of Z</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="mx-3 ">
                                    <div class="card border-0 rounded-0 ">
                                        <div class="d-flex bg-opacity-25 justify-content-center align-items-end ">
                                            <a href="movieDetailed.html ">
                                                <img src="..\..\..\public/img/Actor/sfu4xd7c_1920x1080-thanhphovangdamat_1920_1080.jpeg" alt=" ">
                                            </a>
                                        </div>
                                        <div class="card-body ">
                                            <span class="card-text text-light " style="font-size: 1.3vmax; ">The Lost City Of Z</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="mx-3 ">
                                    <div class="card border-0 rounded-0 ">
                                        <div class="d-flex bg-opacity-25 justify-content-center align-items-end ">
                                            <a href="movieDetailed.html ">
                                                <img src="..\..\..\public/img/Actor/rwrt3007_1920x1080-quyongthegioingam.jpg" alt=" ">
                                            </a>
                                        </div>
                                        <div class="card-body ">
                                            <span class="card-text text-light " style="font-size: 1.3vmax; ">The Lost City Of Z</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="mx-3 ">
                                    <div class="card border-0 rounded-0 ">
                                        <div class="d-flex bg-opacity-25 justify-content-center align-items-end ">
                                            <a href="movieDetailed.html ">
                                                <img src="..\..\..\public/img/Actor/King-arthur-featured-img.jpg" alt=" ">
                                            </a>
                                        </div>
                                        <div class="card-body ">
                                            <span class="card-text text-light " style="font-size: 1.3vmax; ">The Lost City Of Z</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="mx-3 ">
                                    <div class="card border-0 rounded-0 ">
                                        <div class="d-flex bg-opacity-25 justify-content-center align-items-end ">
                                            <a href="movieDetailed.html ">
                                                <img src="..\..\..\public/img/Actor/King-arthur-featured-img.jpg" alt=" ">
                                            </a>
                                        </div>
                                        <div class="card-body ">
                                            <span class="card-text text-light " style="font-size: 1.3vmax; ">The Lost City Of Z</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="mx-3 ">
                                    <div class="card border-0 rounded-0 ">
                                        <div class="d-flex bg-opacity-25 justify-content-center align-items-end ">
                                            <a href="movieDetailed.html ">
                                                <img src="..\..\..\public/img/Actor/83e74583a05a2a996355fbacb7a1e75b33736ce6fabcd427058d8b32a051be0d._UR1920,1080_.jpg" alt=" ">
                                            </a>
                                        </div>
                                        <div class="card-body ">
                                            <span class="card-text text-light " style="font-size: 1.3vmax; ">The Lost City Of Z</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </section>

                </div>

            </section>

        </section>


    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js "></script>
    <script src="https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js "></script>
    <script src="../../js/actor_slider.js "></script>
    <script src="../../js/screenProps/setBrowserSize.js "></script>
    <script src="../../js/screenProps/disableScroll.js "></script>
    <script src="../../../public/bootstrapLib/bootstrap.bundle.min.js"></script>

</body>

</html>