<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../../public/bootstrapLib/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>
<body>
    <header class="row d-flex p-3 justify-content-between" style="background-color: #000000;">
        <section class="col-3">
            <img class="col-4" src="../../../public/img/page_logo/NetFnix Full logo.png" alt="">
        </section>

        <section class="col-5">
            <div class="d-flex col-12 justify-content-between">
                <a class="text-decoration-none text-light" href="">Home</a></li>
                <a class="text-decoration-none text-light" href="">Movies</a></li>
                <a class="text-decoration-none text-light" href="">New & Popular</a></li>
                <a class="text-decoration-none text-light" href="">Incomming</a></li>
            </div>
        </section>
            
        <section class="col-3 d-flex justify-content-end pe-3">

            <div class=" border border-0 me-2 rounded-circle text-center" style="height: 3vmax; width: 3vmax; background-color: #ffffff48;">
                <i class="fa-regular fa-bell" style="font-size: 1.3vmax;"></i>
            </div>

            <div class=" border border-0 me-2 rounded-circle text-center" style="height: 3vmax; width: 3vmax; background-color: #ffffff48;">
                <i class="fa-solid fa-magnifying-glass" style="font-size: 1.3vmax;"></i>
            </div>

            <div class="dropdown" style="height: 3vmax; width: 3vmax;">
                <div class="col-12 border rounded-circle text-center" style="background-color: #ffffff48;" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    <img class="col-12" style="object-fit: cover; overflow: hidden;" src="../../../public/img/page_logo/download-removebg-preview.png" height="" alt="">
                </div>
                <ul class="dropdown-menu" style="background-color: #ffffff48;" aria-labelledby="dropdownMenuButton1">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
            </div>

        </section>

    </header>

    <script src="../../../public/bootstrapLib/bootstrap.bundle.min.js"></script>
</body>
</html>