<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="..\..\..\public\bootstrapLib\bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
    <link rel="icon" href="../../../public/img/page_logo/download-removebg-preview.png">
    <link rel="stylesheet" href="../../css/scroll/hideScrollBar.css">
    <title>Netfnix</title>

</head>

<body style="background-color: black;">
    <div class="container-fluid p-5">
        <section>
            <div class="row">
                <div class="col-4">
                    <span class="text-muted" style="font-size: 0.8vmax;">Search</span>
                    <div class="input-group mt-2">
                        <input type="text" style="background-color: rgb(75, 75, 75); border-radius: 1vmax 0 0 1vmax; " class="form-control border-0 text-light shadow-none" placeholder="Search">
                        <button class="btn border-0 shadow-none" style="background-color: rgb(75, 75, 75); border-radius: 0 1vmax 1vmax 0;" type="button" id="button-addon2"><i class="fa-solid fa-magnifying-glass" style="color: white;"></i></button>
                    </div>
                </div>
                <div class="col-4">
                    <div class="row">
                        <div class="col-4">
                            <span class="text-muted" style="font-size: 0.8vmax;">Genre</span>
                            <select class="form-select form-select-sm mt-2 border-0 shadow-none text-light" aria-label=".form-select-sm example" style="background-color: rgb(75, 75, 75); border-radius: 1vmax; height: 1.82vmax; padding-left: 0.6vmax;">
                            <option selected hidden >Genre</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                          </select>
                        </div>
                        <div class="col-4">
                            <span class="text-muted" style="font-size: 0.8vmax;">Year</span>
                            <select class="form-select form-select-sm mt-2 border-0 shadow-none text-light" aria-label=".form-select-sm example" style="background-color: rgb(75, 75, 75); border-radius: 1vmax; height: 1.82vmax; padding-left: 0.6vmax;">
                            <option selected hidden>Year</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                          </select>
                        </div>
                        <div class="col-4">
                            <span class="text-muted" style="font-size: 0.8vmax;">IMDb rating</span>
                            <select class="form-select form-select-sm mt-2 border-0 shadow-none text-light" aria-label=".form-select-sm example" style="background-color: rgb(75, 75, 75); border-radius: 1vmax; height: 1.82vmax; padding-left: 0.6vmax;">
                            <option selected hidden>IMDb rating</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                          </select>
                        </div>
                    </div>
                </div>
                <div class="col-4 text-center" style="line-height: 5.5;">
                    <button class="btn bg-danger w-100 text-light shadow-none" style="border-radius: 1vmax;">Search</button>
                </div>
            </div>
        </section>
        <section class="mt-5">
            <div class="row">
                <div class="col-6">
                    <img src="../../../public/img/movieThumbnail/conan-movie-26-3_1688781415982.jpg" class="rounded-3" style=" object-fit: fill;width: 47.2vmax;">
                </div>
                <div class="col-6">
                    <div class="row">
                        <div class="col-6">
                            <img src="../../../public/img/poster_film/11215_103_100001.jpg" class="rounded-3" style=" object-fit: fill;width: 22vmax;" alt="">
                        </div>
                        <div class="col-6">
                            <div class="row mb-3">
                                <div class="col-12">
                                    <img src="../../../public/img/movieThumbnail/750x500_1691391493117.jpg" class="rounded-3" style=" object-fit: cover;width: 23vmax;" alt="">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <img src="../../../public/img/movieThumbnail/750x500_1692332193688.jpg" class="rounded-3" style=" object-fit: cover;width: 23vmax;" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-3">
                    <img src="../../../public/img/movieThumbnail/750x500_1692332193688.jpg" class="rounded-3" style=" object-fit: cover;width: 23vmax;" alt="">
                </div>
                <div class="col-3">
                    <img src="../../../public/img/movieThumbnail/750x500-bb_1689566756017.jpg" class="rounded-3" style=" object-fit: cover;width: 23vmax;" alt="">
                </div>
                <div class="col-3">
                    <img src="../../../public/img/movieThumbnail/750x500_1691391493117.jpg" class="rounded-3" style=" object-fit: cover;width: 23vmax;" alt="">
                </div>
                <div class="col-3">
                    <img src="../../../public/img/movieThumbnail/750x500_1691554140594.jpg" class="rounded-3" style=" object-fit: cover;width: 23vmax;" alt="">
                </div>
            </div>
        </section>

    </div>


    <script src="../../../public/bootstrapLib/bootstrap.bundle.min.js "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/js/all.min.js "></script>
</body>

</html>